@font-face {
  font-family: BRFirma;
  src: url('../../assets/font/BRFirma-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: BRFirma;
  src: url('../../assets/font/BRFirma-SemiBold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url('../../assets/font/gilroy-medium-webfont.woff2');
  font-weight: 600;
}


body {
  margin: 0;
  font-family: BRFirma, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.route-wrapper {
  position: relative;
  
}

.route-wrapper > div {
  position: absolute;
  width:100%;
}

.hide-number-arrow::-webkit-outer-spin-button,
.hide-number-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-number-arrow{
  -moz-appearance: textfield;
}
